@import url("/css/google-font.css");

:root {
    --fontawscirchek: "\f058"
}

body {
    font-family: 'Poppins';
    background: #ffffff;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.productes .productbox span img {
    /* width: 100px; */
}

img {
    width: 100% !important;
    margin: 0px auto;
    display: block;
}

.containbody {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 200px;
}

.mainbody {
    width: 100%;
    margin: 0;
    padding: 30px;
    height: 100vh;
}

nav {
    margin: 0;
    padding: 0;
    height: calc(80vh - 40px);
    overflow: hidden;
    overflow-y: auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

.containbody.activated {
    padding-left: 0;
}

.sitenav.activated {
    display: none;
}