@import url("/css/master.css");

.sidenav {
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 250px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    height: calc(100% - 60px);
    box-shadow: rgb(225, 225, 225) 2px 5px 20px 0px;
    border: 1px solid rgb(213, 215, 219);
    z-index: 3;
    overflow: hidden;
    display: inline-block;
    left: 10px;
    transition: 0.5s linear;
}

.sidenav .logo {
    padding: 10px;
    margin: 0px 0px 10px;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid rgb(245, 245, 245);
    width: 100%;
}

.sidenav .logo img {
    width: auto;
    margin: 0px auto;
    display: block;
}

.sidenav .head {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.sidenav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline-block;
}

.sidenav ul li {
    display: inline-block;
    width: 100%;
    margin: 0px;
    line-height: 45px;
    padding: 0px;
}

.sidenav ul li a,
.logout a {
    margin: 0px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    gap: 12px;
}

.sidenav ul li a span,
.logout a span {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.sidenav ul li a span img,
.logout a span img {
    width: 100%;
    margin: 0px auto;
    display: block;
    position: relative;
}

.sidenav ul .dropnav ul {
    display: none;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0px;
    box-shadow: rgb(225, 225, 225) 2px 5px 20px 0px;
    border: 1px solid rgb(213, 215, 219);
}

footer p {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    font-weight: 600;
}

.mainbody .conbody {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.mainbody header {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline-block;
}

header .usernotices {
    background: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0px;
    padding: 5px 25px;
    display: flex;
    gap: 20px;
    width: auto;
    align-items: center;
    box-shadow: rgb(225, 225, 225) 2px 5px 20px 0px;
    border: 1px solid rgb(213, 215, 219);
    position: relative;
}

.mainbody header .row {
    display: flex;
    justify-content: space-between;
}

.mainbody header .breadcrumb {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    width: auto;
    height: unset;
    line-height: unset;
}

header .breadcrumb ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header .breadcrumb ul li {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
}

header .breadcrumb ul li a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

header .usernotices .notifica {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: auto;
}

header .usernotices .notifica span {
    position: relative;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    color: rgb(55, 53, 135);
}

header .usernotices .notifica b {
    position: absolute;
    top: 5px;
    right: -7px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(55, 53, 135);
    color: rgb(255, 255, 255);
    font-size: 10px;
    border: 2px solid rgb(255, 255, 255);
}

header .usernotices .loginsection {
    width: auto;
    margin: 0px;
    padding: 0px 15px;
    list-style: none;
    border-left: 1px solid rgb(213, 215, 219);
    border-right: 1px solid rgb(213, 215, 219);
    position: relative;
}

header .usernotices ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
}

header .usernotices ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: auto;
}

header .usernotices ul li img {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    display: inline-block;
}

header .usernotices ul li b {
    width: 60px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

header .usernotices ul li span {
    margin-left: 20px;
    font-size: 13px;
}

header .breadcrumb ul li a span {
    margin-right: 10px;
}

.logout {
    position: relative;
    margin: 0px;
    padding: 15px 0px;
    width: 100%;
    background: rgb(243, 243, 243);
}

.mainbody .conbody {
    padding-left: 300px;
}

.mainbody .conbody.activated {
    padding-left: 0px;
}

.nav-toggle {
    height: 35px;
    width: 30px;
    border-radius: 4px;
    position: relative;
    top: 0px;
    display: block;
    transition: 0.5s linear;
    cursor: pointer;
    margin: 0px;
    border: 1px solid rgb(238, 239, 241);
    padding: 2px 5px;
}

.nav-toggle div {
    width: 100%;
    height: 3px;
    background: rgb(255, 119, 0);
    margin: 5px auto;
    transition: 0.3s;
    text-align: right;
    border-radius: 10px;
    font-size: large;
}

.nav-toggle .two {
    width: 100%;
    margin-right: 0px;
}

.nav-toggle .three {
    width: 100%;
    margin-right: 0px;
}

.nav-toggle.active .one {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle.active .two {
    opacity: 0;
}

.nav-toggle.active .three {
    transform: rotate(-45deg) translate(6px, -6px);
    width: 100%;
}

.sidenav ul li.dropnav a b {
    position: absolute;
    right: 7px;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

.sidenav.activated {
    display: none;
    left: -100%;
    transition: 0.5s linear;
}

.sidenav .dropnav.active ul {
    display: inline-block;
    position: relative;
    background: unset;
}

.sidenav .dropnav.active ul li a {
    padding-left: 50px;
    display: inline-block;
    height: unset;
}

.sidenav .dropnav ul li {
    line-height: 40px;
}

.errormessages {
    position: fixed;
    bottom: 40px;
    left: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 54, 67);
    border-radius: 8px;
    box-shadow: rgba(35, 68, 101, 0.15) 0px 6px 24px, rgba(35, 68, 101, 0.15) 0px 6px 8px;
    z-index: 999;
    min-height: 50px;
    margin-bottom: 1rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    font-family: sans-serif;
    cursor: pointer;
    direction: ltr;
    width: max-content;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
}

.errormessages.show {
    display: block;
    opacity: 1;
    animation: 0.5s ease 0s 1 normal forwards running flipIn;
}

.errormessages .hide {
    display: none;
    opacity: 0;
    animation: 0.5s ease 0s 1 normal forwards running flipOut;
}

.errormessages .succesmsg {
    margin: 0px;
    padding: 0px 0px 0px 5px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    place-content: flex-start space-between;
}

.errormessages h6 {
    display: flex;
    align-items: center;
    place-content: center flex-start;
    margin: 0px;
    padding: 0px 100px 0px 0px;
    width: max-content;
    gap: 15px;
    font-family: Manrope, -apple-system, "Helvetica Neue", Arial, "Segoe UI", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
    color: rgb(35, 40, 54);
    text-transform: capitalize;
}

.errormessages h6 svg {
    width: 40px;
    fill: none;
    display: inline-block;
}

.errormessages span.close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    place-content: flex-start center;
    font-size: 16px;
    color: rgb(89, 100, 113);
    position: absolute;
    top: 0px;
    right: 0px;
}

.reverse-progress-bar {
    width: 100%;
    height: 4px;
    background-color: rgb(101, 158, 16);
    transition: width 10s linear;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.errormessages .errormsg+.reverse-progress-bar {
    background-color: rgb(255, 0, 0);
}

.errormessages .errormsg.succesmsg h6 {
    color: rgb(255, 0, 0);
}

@keyframes flipIn {
    0% {
        transform: rotateX(-90deg) skewX(20deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg) skewX(0deg);
        opacity: 1;
    }
}

@keyframes flipOut {
    0% {
        transform: rotateX(0deg) skewX(0deg);
        opacity: 1;
    }

    100% {
        transform: rotateX(-90deg) skewX(20deg);
        opacity: 0;
    }
}

.feautured.phone-card-container p {
    text-align: center;
}

.singtexare h6 {
    margin: 20px 0px 0px;
    font-size: 14px;
    line-height: 25px;
}

.details {
    position: relative;
    margin: 0px;
    padding: 10px 20px 30px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.details h2,
.FormSecCompart .details h3 {
    font-weight: 600;
    color: rgb(83, 122, 239);
    border-bottom: 1px solid rgb(222, 226, 230);
    font-size: 15px;
    padding-bottom: 6px;
    position: relative;
    line-height: 20px;
    margin: 15px 0px 20px;
}

.details h2::before,
.FormSecCompart .details h3::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    background: rgb(83, 122, 239);
    height: 3px;
    width: 50px;
    border-radius: 15px;
}

.secdivae {
    margin: 0px 0px 20px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.secdivae h4 {
    font-size: 14px;
    font-weight: 500;
    color: rgb(74, 90, 107);
    margin-bottom: 1.004rem !important;
}

.secdivae p {
    font-size: 13px;
    line-height: 25px;
    color: rgb(74, 90, 107);
    margin: 0px;
}

.listtagsskill {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style: none;
    width: 100%;
}

.listtagsskill li {
    display: inline-block;
    margin: 0px 0px 5px;
    color: rgb(74, 90, 107);
    background: rgb(240, 244, 247);
    padding: 0.6rem 1.2rem;
    font-size: 11px;
    font-weight: 600;
    border-radius: 4px;
}

.profileareedit {
    position: relative;
    margin: 0px auto 50px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.Listofdetl {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.Listofdetl li {
    display: flex;
    gap: 10px;
    font-size: 13px;
    margin: 0px 0px 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.Listofdetl li span {
    width: 150px;
    display: inline-block;
    text-align: left;
    position: relative;
}

.Listofdetl li span {
    font-weight: 400;
}

.Listofdetl li b {
    width: 100%;
    font-weight: 600;
    line-height: 24px;
}

.breadcrumbsdestop {
    margin: 0px auto 50px;
    padding: 80px 0px;
    display: inline-block;
    width: 100%;
    background: rgb(32, 77, 39);
    overflow: hidden;
    position: relative;
}

.breadcrumbsdestop h2 {
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    text-transform: uppercase;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    letter-spacing: 5px;
}

.address ul,
.notificitions ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style: none;
}

.address ul,
.notificitions ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.address ul li .boxsec,
.notificitions ul li .boxsec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.address ul li .boxsec,
.notificitions ul li .boxsec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.address ul li,
.notificitions ul li {
    border: 1px solid rgb(83, 122, 239);
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 15px 20px;
}

.address ul .boxsec b {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.address ul .boxsec span {
    font-size: 13px;
    margin: 0px 0px 5px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.address ul .boxsec span b {
    font-weight: 600;
    font-size: 12px;
}

.address {
    position: relative;
    margin: 0px 0px 30px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.notificitions {
    position: relative;
}

.notificitions .boxsec span {
    font-size: 17px;
    text-align: center;
    color: rgb(241, 244, 255);
    background: rgb(83, 122, 239);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.notificitions .boxsec b {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.notificitions .boxsec p {
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0px 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
}

.profileuser {
    position: sticky;
    margin: 0px;
    padding: 10px;
    background: rgb(247, 198, 87);
    border-radius: 8px;
    top: 100px;
}

.profileuser .proimgbox {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 5px;
    margin: 0px 0px 20px;
    height: 150px;
    overflow: hidden;
}

.profileuser .proimgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.profileuser .infodeta {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.profileuser .infodeta h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 10px;
    padding: 0px;
    line-height: 25px;
}

.profileuser .infodeta ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    width: 100%;
}

.profileuser .infodeta ul li {
    margin: 0px 0px 5px;
    padding: 0px;
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.profileuser .infodeta ul li b {
    font-weight: 600;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    width: 150px;
    display: inline-block;
}

.profileuser .infodeta ul li span {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0px;
}

.profileuser .infodeta ul li:last-child span {
    background: rgba(20, 102, 11, 0.64);
    padding: 2px 10px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: auto;
    text-align: left;
}

.profileuser .logout {
    position: relative;
    margin: 0px;
    display: inline-block;
    width: 100%;
    background: unset;
}

.profileuser .logout a {
    background: rgb(18, 16, 16);
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 4px;
    margin-top: 20px;
}

.profileuser .infodeta ul li:last-child b {
    width: 100px;
}

.FormSecCompart {
    position: relative;
    margin: 0px;
    padding: 0px 0px 50px;
    display: inline-block;
    width: 100%;
}

.partdivices {
    position: relative;
    margin: 20px 0px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 8px;
}

.FormSecCompart .details h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 0px;
}

.FormSecCompart .details h3 span {
    display: flex;
    background: rgb(27, 29, 199);
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
}

.partdivices .form-group {
    position: relative;
    margin: 0px 0px 20px;
    display: inline-block;
    width: 100%;
}

.partdivices .form-group .form-control {
    height: 40px;
    border: 1px solid rgb(237, 237, 237);
    font-size: 12px;
    color: rgb(34, 34, 34);
    width: 100%;
    border-radius: 4px;
    letter-spacing: 0px;
    font-weight: 500;
}

.partdivices .form-group label {
    width: 100%;
    margin: 0px 0px 6px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.partdivices .form-group textarea.form-control {
    height: 100px;
    padding: 15px;
}

.FormSecCompart .details {
    padding: 20px 30px 0px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(233, 233, 233) 2px 5px 20px;
    overflow: hidden;
    border: 1px solid rgba(9, 33, 19, 0.4);
}

.FormSecCompart .profileuser {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(233, 233, 233) 2px 5px 20px;
    overflow: hidden;
    border: 1px solid rgba(9, 33, 19, 0.4);
    padding: 25px;
}

.profileuser .uploadimges {
    width: 100%;
    position: relative;
}

.profileuser .firstlable {
    width: 100%;
    margin: 0px auto;
    display: flex;
    font-size: 13px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px dashed rgb(0, 0, 0);
    line-height: 15px;
}

.profileuser .firstlable i {
    font-size: 25px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.profileuser .firstlable span {
    position: relative;
    background: rgb(233, 88, 4);
    margin: 0px;
    width: auto;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 20px;
    padding: 5px 20px !important;
}

.profileuser input.choose {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.profileuser .proimgbox span.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    z-index: 2;
}

.SubmitBtnSecare {
    background: rgb(27, 29, 199);
    color: rgb(255, 255, 255);
    border: unset;
    border-radius: 8px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin: 0px 0px 20px;
    padding: 10px;
}

.profileuser .SubmitBtnSecare {
    margin: 20px 0px 0px;
    position: relative;
    z-index: 9;
}

.partdivices .form-group label sup {
    top: 0px;
    position: relative;
    margin: 0px 0px 0px 5px;
    padding: 0px;
    line-height: 15px;
    color: rgb(247, 0, 0);
}

.notificitions .boxsec p:last-child span {
    background: rgba(20, 102, 11, 0.64);
    padding: 0px 10px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    width: auto;
    text-align: left;
    margin: 0px;
    height: unset;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.notificitions .boxsec p:last-child {
    display: flex;
    width: 100%;
    align-items: center;
    place-content: center flex-start;
    gap: 10px;
    margin-top: 25px;
}

.notificitions .boxsec p:last-child b {
    color: rgb(83, 122, 239);
}

.notificitions .boxsec p:last-child span[data-status="Enabled"] {
    background: rgba(20, 102, 11, 0.64);
}

.notificitions .boxsec p:last-child span[data-status="Disabled"] {
    background: rgb(255, 0, 0);
}

.profileareedit .details h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.profileareedit .details h2 span {
    display: flex;
    background: rgb(27, 29, 199);
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
}

.profileareedit .details h2 span a {
    color: rgb(255, 255, 255);
}

header .userprofile span img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.mainbody .centerbody {
    padding-top: 30px;
    padding-bottom: 50px;
}

header .usernotices ul li ul {
    display: none;
}

header .usernotices ul li:hover ul {
    display: inline-block;
    left: 0px;
    background: rgb(255, 255, 255);
    z-index: 3;
    box-shadow: rgba(7, 7, 7, 0.13) 0px 20px 20px 0px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(233, 232, 232);
    position: absolute;
    top: 100%;
}

.loginsection ul .dropnav li {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px;
    display: block;
    width: 100%;
    margin: 0px 0px 2px;
    height: unset;
    transition: 0.5s linear;
    text-align: left;
    line-height: 25px;
}

.loginsection ul .dropnav li a {
    padding: 5px 10px;
    line-height: 20px;
    font-size: 13px;
    transition: 0.5s linear;
    font-weight: 500;
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    color: rgb(0, 0, 0) !important;
}

.loginsection ul .dropnav li a i {
    font-size: 13px;
    width: 20px;
}

.mainbody .centerbody h5 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 20px;
    margin: 0px 0px 10px;
    display: inline-block;
    width: 100%;
}

.mainbody .centerbody p {
    font-size: 15px;
    margin: 0px 0px 50px;
    position: relative;
}

.centerbody .desboriconnot {
    background: rgb(255, 255, 255);
    width: 100%;
    margin: 0px auto;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px;
    text-align: center;
    box-shadow: rgb(225, 225, 225) 2px 5px 20px 0px;
    border: 1px solid rgb(213, 215, 219);
}

.centerbody .desboriconnot span {
    width: 100%;
    margin: 0px auto 10px;
    display: inline-block;
    position: relative;
}

.centerbody .desboriconnot h6 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px;
}

.showboxwite {
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 8px;
    box-shadow: rgb(225, 225, 225) 2px 5px 20px 0px;
    border: 1px solid rgb(213, 215, 219);
    margin-bottom: 20px;
    overflow: hidden;
}

.banner.showboxwite img {
    margin: 0px auto;
    width: 100%;
    display: inline-block;
}

.showboxwite.servces {
    display: flex;
    gap: 10px;
    padding: 30px;
}

.showboxwite.servces .textbox h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 20px;
}

.showboxwite.servces .textbox p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 14px;
}

.boxserctuion {
    padding: 30px;
    margin: 0px;
    height: 100%;
}

.boxserctuion h4 {
    font-size: 20px;
    margin: 0px 0px 20px;
    font-weight: 700;
}

.centerbody .boxserctuion p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 13px;
}

.offersbox {
    position: relative;
    margin: 30px 0px;
    display: inline-block;
    width: 100%;
}

.cibilscro {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.productes {
    position: relative;
    margin: 0px;
    padding: 30px;
}

.productes h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.productes .productbox {
    text-align: center;
    margin: 0px auto;
}

.productes .productbox span {
    margin: 10px auto 15px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 15px;
    box-shadow: rgb(225, 225, 225) 2px 3px 20px 0px;
    border: 1px solid rgb(213, 215, 219);
}

.productes .productbox h6 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.showboxwite.rightsidebox {
    padding: 30px;
    margin: 0px;
    display: inline-block;
    width: 100%;
}

.showboxwite.rightsidebox h4 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.showboxwite.servces .imgbox,
.centerbody .desboriconnot span img {
    width: calc(50%);
}

.profileaccordbox {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.profileaccordbox .accordion-header {
    background: unset;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-bottom: 10px;
}

.profileaccordbox .accordion-button {
    margin: 0px;
    padding: 15px;
    background: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px !important;
}

.profileaccordbox .accordion-body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.profileaccordbox .accordion-body p {
    margin: 0px;
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.profileaccordbox .accordion-collapse {
    width: 100%;
    padding: 20px;
    margin: 0px;
    border-radius: 8px;
}

.profileaccordbox .accordion-item {
    margin: 0px 0px 15px;
    display: inline-block;
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(213, 215, 219);
    box-shadow: rgb(225, 225, 225) 2px 5px 20px 0px;
    border-radius: 10px !important;
}

.profileaccordbox .accordion-button::after {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}

.profsecon {
    position: relative;
    margin: 0px auto 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid rgb(213, 215, 219);
    box-shadow: rgb(225, 225, 225) 2px 5px 20px 0px;
}

.profsecon .proimgbox {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.profsecon .proimgbox img {
    width: 70px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid rgb(213, 215, 219);
    object-fit: contain;
    object-position: center center;
    height: 70px;
}

.profsecon .proimgbox span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: max-content;
    margin: 0px;
    padding: 0px;
}

.profsecon h3 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.profsecon span a {
    background: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0px;
    padding: 10px 25px;
    display: flex;
    gap: 20px;
    width: auto;
    align-items: center;
    border: 1px solid rgb(213, 215, 219);
    position: relative;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.Listofdetl li b.verified {
    background: rgb(13, 110, 253);
    width: max-content;
    padding: 0px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.showboxwite.servces .imgbox {
    width: calc(20%);
}

.profsecon .proimgbox .userprofiltes {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.profsecon .proimgbox .userprofiltes p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 14px;
}

.profsecon .proimgbox .userprofiltes h3 {
    margin-bottom: 0px;
}

.singup {
    margin: 0px auto;
    padding: 30px 0px;
    position: relative;
}

.singupimg {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: rgb(249, 249, 249);
    padding: 10px 0px !important;
}

.shomabodi,
.singupimg img {
    background: rgb(249, 249, 249);
    border-radius: 10px;
}

.singupimg img {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
}

.singupform,
.singupimg {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px 0px 30px;
}

.singupform form {
    margin: 0px;
    padding: 0px;
}

.singupform form h4 {
    font-size: 18px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.singupform form .form-group {
    margin: 0px 0px 10px;
    padding: 0px;
}

.formsection {
    position: relative;
    margin: 20px 0px 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.iti {
    width: 100%;
}

.singupform form .form-group {
    margin-bottom: 10px;
}

.singupform .formse button {
    margin: 0px auto;
    padding: 10px;
    border: unset;
    font-size: 13px;
    border-radius: 6px;
    background: rgb(25, 135, 84);
    width: 120px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.singupform .formse .form-group {
    width: calc(100% - 100px);
}

.singupform .formse {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.singupform form .form-group:last-child {
    margin-bottom: 0px;
}

.singupform form .form-group .form-control {
    margin: 0px;
    height: 45px;
    border: 1px solid rgb(239, 236, 236);
    background: unset;
    font-size: 13px;
    width: 100%;
    border-radius: 4px;
}

.singupform .tab-container .tab-menu ul li:last-child {
    border-right: unset;
    padding-right: unset;
    margin-right: unset;
}

.singupform form .form-check label {
    font-size: 13px;
}

form .btnbutton {
    background: rgb(0, 102, 204);
    color: rgb(255, 255, 255);
    border: unset;
    margin: 25px auto 0px;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.singupform form .form-check {
    margin: 10px 0px 0px;
}

.tab-menu ul li a.active {
    color: rgb(255, 255, 255) !important;
}

.shomabodi {
    display: none;
    margin: 0px;
    padding: 15px;
    background: unset;
}

.shomabodi.active {
    display: block;
}

.singupform .form-group label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    display: none;
}

.singupform .tab-container {
    margin: 0px auto;
    padding: 0px;
    width: 80%;
    position: relative;
    height: 100%;
}

.singupform .tab-container .tab-menu {
    margin: 10px auto;
    padding: 15px 50px;
    position: relative;
    background: rgba(12, 38, 22, 0.05);
    border-radius: 50px;
    width: max-content;
}

.singupform .tab-container .tab-menu ul {
    display: block;
    margin: 0px;
    padding: 0px;
    width: max-content;
}

.singupform .tab-container .tab-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px 0px 0px;
    padding: 0px 20px 0px 0px;
    border-right: 2px solid rgb(233, 233, 233);
}

.singupform .tab-container .tab-menu ul li a {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}

.supnabar {
    display: none;
}

.singup .container {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(233, 233, 233) 2px 5px 20px;
    overflow: hidden;
    border: 1px solid rgba(9, 33, 19, 0.4);
}

.singup .singtexare {
    position: relative;
    width: 100%;
    display: inline-block;
    background: rgb(244, 244, 244);
    margin: 20px 0px;
    padding: 50px;
    border-radius: 10px;
    height: calc(100% - 40px);
}

.singup .singtexare h4 {
    font-size: 25px;
    margin: 0px 0px 25px;
    padding: 0px;
    text-align: left;
    font-weight: 600;
    font-family: Poppins;
}

.singup .singtexare p {
    font-size: 14px;
    margin: 0px 0px 60px;
    padding: 0px;
    line-height: 25px;
}

.singup .form-group {
    margin: 0px 0px 25px;
    padding: 0px;
}

.singup .form-group .form-control {
    font-weight: 500;
    color: rgb(34, 34, 34);
    padding: 6px 10px;
    height: 45px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid rgb(183, 180, 180);
}

.singup .form-group label {
    font-size: 13px;
    margin-bottom: 15px;
}

.singup .btn {
    background: rgb(27, 29, 199);
    color: rgb(255, 255, 255);
    border: unset;
    border-radius: 8px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin: 10px 0px;
    padding: 12px;
}

.singup h5 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin: 50px 0px;
    display: none;
}

.singup h5::before,
.singup h5::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    background: rgb(183, 180, 180);
    top: 8px;
    margin: 0px auto;
}

.singup h5::before {
    left: 0px;
}

.singup h5::after {
    right: 0px;
}

.singup .googlebtn {
    background: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(34, 34, 34);
    margin: 0px;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgb(8, 102, 255);
}

.singup .googlebtn img {
    width: 25px;
    margin: 0px;
}

.toptextare {
    margin: 0px;
    padding: 30px 0px;
    width: 100%;
    background: rgba(230, 244, 255, 0.43);
}

.tecxterbox {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.tecxterbox h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.tecxterbox ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tecxterbox ul li {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    margin: 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tab-container {
    margin: 0px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 5px #f3f3f3;
}

.tab-menu ul {
    margin: 0px 0px 20px;
    padding: 0px;
}

.tab-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
}

.tab-menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 228, 255);
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.tab-menu ul li a.active {
    background-color: rgb(149, 121, 225);
    color: rgb(255, 255, 255);
}

.tab h2 {
    color: rgba(0, 0, 0, 0.7);
}

.tab p {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.shomabodi {
    display: none;
}

.shomabodi.active {
    display: block;
}

.bankdetail {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.bankdetail form {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.bankdetail form .form-group {
    width: 100%;
    margin: 0px 0px 25px;
    padding: 0px;
}

.bankdetail form .form-group label {
    font-size: 13px;
    font-weight: 600;
    padding: 0px 0px 8px;
}

.bankdetail form .form-group .form-control {
    border: 1px solid rgb(225, 225, 225);
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.btn-bankdetail {
    margin: 0px;
    padding: 8px 40px;
    width: max-content;
    display: block;
    background: rgb(102, 74, 158);
    color: rgb(255, 255, 255);
    border: unset;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.bankdetail form .form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    margin: 0px 0px 20px;
    padding: 0px;
}

.bankdetail form .form-check .radio-group .form-check-input {
    font-size: 13px;
}

.bankdetail form .form-check .radio-group label {
    font-size: 14px;
    font-weight: 500;
}

.documentext {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.documentext h3 {
    font-size: 18px;
    font-weight: 700;
}

.documentext p {
    margin: 0px 0px 15px !important;
}

/*--my tools page css--*/
.mytoolbox {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #dfdfdf;
    padding: 20px;
}

.mytoolbox .toolimg {
    width: 80px;
    margin: 0px;
    padding: 0px;
}

.tooltext {
    margin: 0px;
    padding: 0px;
}

.tooltext p {
    margin: 0px 0px 20px !important;
    font-size: 14px !important;
    font-weight: 500;
}

.tooltext a {
    background: #ff7700;
    color: #fff;
    padding: 7px 20px;
    border-radius: 27px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.mytoolsect {
    margin: 30px auto 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #dfdfdf;
}

.mytoolimg {
    margin: 0px auto 10px;
    background: #ff77003d;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mytooltext {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.mytooltext h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 0px 0px 20px;
}

.mytooltext a {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border: 1px #ff7700 solid;
    border-radius: 25px;
    padding: 6px 25px;
}

.shomabodi table {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.shomabodi table thead tr {
    background: #2c2742;
    color: #fff;
    border-radius: 6px !important;
    overflow: hidden;
    display: block;
    width: 100%;
}

.shomabodi table thead tr th {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px !important;
    padding: 8px 10px;
    text-align: center;
    line-height: 25px;
}